// ==================== Colors.
// Primary.
$marine-blue: #02295a;
$purplish-blue: #473dff;
$pastel-blue: #adbeff;
$light-blue: #bfe2fd;
$strawberry-red: #ed3548;

// Neutral.
$cool-gray: #9699ab;
$light-gray: #d6d9e6;
$magnolia: #f0f6ff;
$alabaster: #fafbff;
$white: #ffffff;


// ==================== Typography.
$main-font: 'Ubuntu', sans-serif;
$main-font-size: 16px;
$main-font-regular: 400;
$main-font-medium: 500;
$main-font-bold: 700;