.steps-container {
    background-image: url(../Assets/bg-sidebar-mobile.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 4rem 0;

    @media (min-width: 1200px) {
        flex-direction: column;
        padding: 4rem;
        background-image: url(../Assets/bg-sidebar-desktop.svg);
    }

    .step-group {
        h1 {
            border: 1px solid #ffffff;
            color: #ffffff;
            border-radius: 50px;
            padding: 0.5rem 0.7rem;
        }

        .step-info {
            display: none;

            @media (min-width: 1200px) {
                display: inline;
            }
        }
    }
}