@import "config";
@import "steps";
@import "form";
@import "addOns";
@import "personalInfo";
@import "summary";
@import "plan";
@import "thanks";


body {
    background-color: $magnolia;
    color: $marine-blue;
    font-family: $main-font;
    font-size: $main-font-size;
    font-weight: $main-font-regular;

    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        height: 100dvh;
    }
}


.App {
    background-color: $magnolia;

    @media (min-width: 768px) {
        width: 550px;
        height: 730px;
        background-color: $white;
        padding: 1.3rem;   
        border-radius: 10px;
    }

    @media (min-width: 1200px) {
        display: flex;
        width: 1000px; 
        height: 550px;
    }
}

/*
.App {
    background-color: $white;
    position: relative;

    @media (min-width: 768px) {
        width: 500px;
    }

    @media (min-width: 1200px) {
        display: flex;
        align-items: center;
        padding: 1rem;
        width: 900px;
    }
}

.forms-wrapper {
    background-color: #ffffff;
    margin: -2rem 1rem 0;
}

*/